/* 類別選擇符能對指定類別設定樣式 */
/* 類別選擇符的格式為 "標籤.類別" */
/* 而類別可以重複用於多個標籤，因此類別選擇符比id選擇符更好用 */

/* 類別選擇符也能搭配萬用選擇符使用，使所有擁有該類別的標籤套用該樣式，其格式為 " *.類別 " */
/* 由於萬用選擇符代表所有標籤，因此兩選擇符一起使用時可省略星號 */

body  {
    font-size: 25px;
}

strong.red  {
    color: red;
}           /* 擁有red類別的strong標籤套用紅色文字 */

mark.blue  {
    color: blue;
}           /* 擁有blue類別的mark標籤套用藍色文字 */

*.green  {
    color: green;
}           /* 所有擁有green類別的標籤套用綠色文字(星號版) */

.black  {
    background-color: black;
}           /* 所有擁有black類別的標籤套用黑色背景(省略星號版) */