/* 這是css的註解， "斜線加星號" 、 "星號加斜線" 內的所有文字皆為註解 */
/* css的語法皆為 "選擇符 { 屬性名稱:屬性值; }" 的結構 */

/* 選擇符是欲設定樣式的對象，例如:標籤、類別...等，最常見的是標籤選擇符 */
/* 屬性名稱是欲設定的樣式之名稱，例如:顏色、對齊方式、大小...等 */
/* 屬性值則是該屬性真實的數據，例如:紅色、10像素...等 */

/* 標籤選擇符所設定的屬性會套用到所有同種標籤上 */
/* 每個選擇符都能一次設定多個屬性，所有屬性都要放在大括號(" { } ")裡，且要用分號隔開(" ; ") */

/* 若有多次設定的對象，則該對象將擁有所有設定的屬性 */
/* 若有重複設定的屬性，則後面的設定會覆蓋前面的設定 */

/* 顏色屬性分為文字顏色與背景顏色，前者的屬性名稱為 "color" ，後者的屬性名稱為 "background-color" */
/* 顏色的屬性值有3種表示法，顏色名稱、RGB、十六進制 */
/* 顏色名稱表示法顧名思義就是用顏色的英文名字來表示顏色 */

/* RGB表示法使用 0~255 的數字來表示三原色的強度，其語法為 "rgb(數字,數字,數字)" */
/* 數字越大強度越強，故最弱為 0 、最強為 255 ，若三原色皆為 255 則表示白色、皆為 0 表示黑色 */

/* 十六進制表示法使用六位數的十六進制碼來表示三原色的強度，每個原色分配兩位數 */
/* 使用此表示法需在最前方加上井字號，最強為 ff 、最弱為 00 ，若六位數皆為 0 表示黑色、皆為 f 表示白色 */

h1  {
    color: black;
}   /* h1標籤的文字設為黑色 */

h2  {
    color: rgb(205, 205, 34);
}   /* 用RGB表示法設定h2標籤的文字顏色 */

h3  {
    color: #cc00ff;
}   /* 用十六進制表示法設定h3標籤的文字顏色 */

h1  {
    color: #ffffff;
    background-color: #ff0000;
}   /* 用十六進制表示法設定h1標籤的文字顏色與背景顏色 */

/* 由於h1標籤的文字顏色重複設定，因此最終h1標籤的文字顏色為白色、背景顏色為紅色 */